.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav1 li{
    float: left;
  }
  
  .link a  {
    display: block;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  body{
    background-color: bisque;
  }
  h1 {
    color: green;
  }
  .p {
    font-family: 'Times New Roman', Times, serif;
  }
  h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h3{
    font-style: oblique;
  }
  h4{
    font-style: normal;
  }
  h5{
    font-style: italic;
  }
  h6{ 
    font-style: initial;
  }